// Colors
$main: #E27900;
$secondary: #808285;
$dark: rgb(19, 16, 16);

// Break points
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

// Icons
$simple-line-font-path        : "/simple-line-icons/fonts";
$simple-line-font-family      : "simple-icon";
$simple-line-icon-prefix      : "ico-";