@import "@/assets/scss/_variables.scss";
.consultancy,
.building,
.mantenance,
.covering {
  width: 100%;
  text-align: center;
  padding: 30px 15%;
  font-size: 25px;

  img {
    width: 400px;
  }

  p {
    text-align: justify;
    color: $secondary;
    margin-bottom: 20px;
    span{
      font-weight: bold;
      color: $main;
    }
  }

  a {
    text-transform: uppercase;
    color: $main;
    font-weight: 600;
  }
}

.sub-service {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 10%;
  padding-bottom: 80px;
  display: flex;
  flex-flow: column;

  h3 {
    font-size: 60px;
    margin: 15px 0;
  }
  .content {
    display: inherit;
    justify-content: space-between;
    align-items: center;

    img {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
    }
    div {
      width: calc(50% - 15px);
      p,
      ul {
        font-size: 22px;
        text-align: justify;
      }

      ul {
        li {
          ul {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.management,
.direction,
.cellar,
.hotel,
.house,
.facade,
.tank,
.park,
.metallica {
  background: $main;
  color: #fff;
  div {
    img {
      order: 1;
    }
  }
}

.dai,
.office,
.commercial,
.cover,
.lobby,
.float-facade {
  color: $secondary;
}

@media screen and (max-width: $large) {
  .sub-service {
    padding-bottom: 40px;
    .content {
      flex-flow: column;

      img {
        width: 100%;
      }
      div {
        width: 90%;
        p {
          margin-top: 40px;
        }
      }
    }
  }
  .management,
  .direction,
  .cellar,
  .hotel,
  .house,
  .facade,
  .tank,
  .park,
  .metallica {
    div {
      img {
        order: 0;
      }
    }
  }
}

@media screen and (max-width: $small) {
  .consultancy,
  .building,
  .mantenance,
  .covering {
    font-size: 20px;

    img {
      width: 200px;
    }

    p {
      text-align: left;
      word-wrap: break-word;
      margin-bottom: 10px;
    }
  }
  .sub-service {
    h3 {
      font-size: 30px;
    }
    .content {
      div {
        p {
          margin-top: 20px;
        }
        p,
        ul {
          text-align: start;
          font-size: 18px;
        }
      }
    }
  }
}
